NUXT_LLM_BASE_URL=https://openrouter.ai/api/v1
NUXT_LLM_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
NUXT_LLM_API_MODEL=openai/gpt-5-mini
NUXT_BRIDGE_PRIVATE_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
NUXT_SIMULATOR_ENDPOINT=https://jmxo2qiezb-api.genlayer.com:8443/api
NUXT_IC_REGISTRY_ADDRESS=0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
